body{
  font-family: 'Ubuntu', sans-serif;
}
.header{
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  box-sizing: border-box;
  font-weight: 700;
}
.nav{
  display:flex;
  list-style-type: none;
  justify-content:flex-start;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
}
.nav>li{
  margin-left: 15px;
}
.nav>li>a{
  text-decoration: none;
  color: #202020;
}
.nav_btn{
  background-color:#5528FF;
  border-radius: 5px;
  padding: 10px 15px;
  color: #fff;
  border: none;
  font-weight: 700;
}
.logo{
  display: flex;
  align-items: center;
  text-decoration: none; 
}
.logo_img{
  display: block;
  width: 58px;
  height: 58px;
  background-image: url(/css/logo.jpg);
  margin-right: 20px;
}
.logo_text{
  font-size: 24px;
  color: #202020;
}
.wrap{
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
.title-main{
  font-size: 56px;
  color: #202020;
  font-weight: 700;
}
.text-main{
  font-size: 32px;
  line-height: 1.5;
  color: #4f4f4f;
}
.button{
  background-color:#5528FF;
  border-radius: 10px;
  padding: 10px 45px;
  color: #fff;
  border: none;
  font-size: 24px;
}
.page{
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}
.page-top{
  border-top: 1px solid #C2C2c2;
}
.page h2{
  position: absolute;
  top: -24px;
  font-size: 14px;
  font-weight: 300;
  background-color: #fff;
  padding: 5px 15px;
  color: #C2C2c2;
}
.services{
  display: grid;
  grid-template: 50% 50% / 50% 50%;
}
.services-item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.services_img{
  flex-basis: 120px;
  text-align: center;
}
.services_text{
  flex-basis: calc(100%-120px);
}
.services h3{
  font-style: 28px;
  font-weight: 400;
}
.services p{
  font-size: 14px;
  color: #b2b2b2;
  line-height: 1.5;
}
.clients{
  display: grid;
  grid-template: repeat(2,1fr) / repeat(4,25%);
  grid-row-gap: 40px;
  text-align: center;
}
.team{
  display: grid;
  grid-template: repeat(3,1fr)/repeat(3,33%);
  grid-row-gap: 40px;
}
.team-item{
  display: flex;
  justify-content: start;
  align-items: center;
  
}
.team-item img{
  margin-right: 20px;
}
.team-item > div{
  flex-basis: calc(100%-100px);
}
.footer{
  padding-top: 20px;
  padding-bottom: 20px;
  
  background-color: #f7f7f7;
  
}